.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 15px 0;
    background-color: rgba(34, 34, 34, 255);
    border-radius: 10px;

    @media (max-width: 420px) {
        flex-direction: column;
    }
}
.link {
    color: rgba(210, 208, 203, 255);
    font-size: 18px;
    margin: 0 10px;

    
    @media (max-width: 420px) {
        margin-bottom: 20px;
    }
}
.text {
    margin: 0 10px;
}
.rep_info {
    margin: 0 10px;
    text-align: start;
}